<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.fit.lentaruand"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Styled" >
        <activity
            android:name="cz.fit.lentaruand.ui.activities.NewsBriefActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cz.fit.lentaruand.ui.activities.NewsFullActivity"
            android:label="@string/title_activity_full_news" >
        </activity>

        <provider
            android:name="cz.fit.lentaruand.data.provider.LentaProvider"
            android:authorities="@string/provider_authority"
            android:exported="false" >
        </provider>

        <service
            android:name=".service.UpdateService"
            android:label="UpdateService" >
        </service>
        <service
            android:name=".service.Service"
            android:label="Service" >
        </service>
    </application>

</manifest>